body{
    /* background-color: #EDF2F4; */
    background-color: #D8D9CF;
}
footer{
    text-align: center;
    
}
footer p{
    text-transform: uppercase;
}
a{
    text-decoration: none;
    color: black;
}    
ul{
    list-style: none;
}
.clientes{
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.contacto{
    margin-left: 40%;
    margin-top: 5px;
}

.boton{
    margin-right: 70%;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

@media (min-width:100px) and (max-width:600px){
    footer p{
        display: none;
    }
    .boton{
        margin-right: 4%;
    }
}